/**/
.separador{
    width: 80%;
    height: 5px;
    background-color: black;
    margin: auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    text-align: end; 
    margin-bottom: 10px;
}
#img{
    text-align: center;
  
}